div(class="jumbotron text-center")
    h1 Welcome to YourChurch!

    div(ng-if="!main.loggedIn")
        p Login to see manage your users.
        a(href="/login",class="btn btn-primary") Login


    div(ng-if="main.loggedIn")
        p Manage your users.
        a(href="/users",class="btn btn-primary") View Users